<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input [(ngModel)]="text" class="new-todo" placeholder="What needs to be done?" autofocus (keyup.enter)="addNew()" />
  </header>

  <section *ngIf="all.length > 0" class="main">
    <input id="toggle-all" class="toggle-all" type="checkbox" (change)="onChangeAll()">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [ngClass]="{'completed': todo.completed, 'editing': todo.editing}">
        <div class="view">
          <input class="toggle" type="checkbox" [checked]="todo.completed" (change)="onChange(todo)">
          <label (dblclick)="edit(todo)">{{todo.name}}</label>
          <button class="destroy" (click)="remove(todo)"></button>
        </div>
        <input class="edit" [value]="todo.name" [autofocus]="todo.editing" (blur)="saveEdit(todo, $event.target.value)" (keyup.enter)="saveEdit(todo, $event.target.value)" />
      </li>
    </ul>
  </section>

  <footer *ngIf="all.length > 0" class="footer">
    <span class="todo-count"><strong>{{pendingsCount$ | async}}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
      <li>
        <a [ngClass]="{'selected': viewId === ViewTypes.SHOW_ALL }" href="#/" (click)="showView(ViewTypes.SHOW_ALL)">All</a>
      </li>
      <li>
        <a [ngClass]="{'selected': viewId === ViewTypes.SHOW_ACTIVE }" href="#/active" (click)="showView(ViewTypes.SHOW_ACTIVE)">Active</a>
      </li>
      <li>
        <a [ngClass]="{'selected': viewId === ViewTypes.SHOW_COMPLETED }" href="#/completed" (click)="showView(ViewTypes.SHOW_COMPLETED)">Completed</a>
      </li>
    </ul>
    <button *ngIf="(completedCount$ | async) !== 0" class="clear-completed" (click)="clearCompleted()">Clear completed</button>
  </footer>
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="https://github.com/rdcorbera/todos-ngrxstore">Ricardo Corbera</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
